/* css for the landing page  */
body{
    background-color: black;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

#landing-header #btn-head {
  font-size: 2em;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://res.cloudinary.com/dmrx96yqx/image/upload/v1566906472/City-13-Escape-Room-759x500_nb2tm4.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(https://res.cloudinary.com/dmrx96yqx/image/upload/v1566906473/MW-DQ129_escape_ZH_20150715115210_in25wq.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://res.cloudinary.com/dmrx96yqx/image/upload/v1566906472/gn-gift_guide_variable_c_m2q7kb.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://res.cloudinary.com/dmrx96yqx/image/upload/v1566906473/The-Room-2-escape-rooms-1-900x506_vv33zh.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://res.cloudinary.com/dmrx96yqx/image/upload/v1566906478/bigstock-Black-and-white-image-of-antiq-118422443_spqru8.jpg);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}